:root {
  --color-bg: #F8F8F0;
  --color-text: #333333;
  --color-primary: #005F6B;
  --color-primary-hover: #004C57;
  --color-secondary: #0097B9;
  --font-family-base:
    'Fira code', 'Fira Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --font-size-base: 16px;
  --spacing-base: 1rem;
  --color-surface: #FCFCF8;
  --color-border: rgba(0, 0, 0, 0.2);
  --color-surface-alt: #EFEFE8;
  --color-disabled-bg: #e0e0e0;
}

[data-theme='dark'] {
  --color-bg: #1e1e1e;
  --color-text: #f1f1f1;
  --color-surface: #2e2e2e;
  --color-border: rgba(255, 255, 255, 0.2);
  --color-surface-alt: #222;
  --color-disabled-bg: #222;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: 1.5;
}
